{:source-paths ["src"]
 :dependencies [[reagent "0.8.1"]
                [secretary "1.2.3"]
                [cljs-http "0.1.45"]]
 :builds {:server {:target :node-script
                   :output-to "target/main.js"
                   :main server.main/main!
                   :devtools {:after-load server.main/reload!}}
          :client {:target :browser
                   :output-dir "target/resources/public/js"
                   :asset-path "/js"
                   :modules {:main {:entries [client.app client.components.projects client.components.iceice]}}
                   :devtools {:http-root "target/resources/public"
                              :http-port 8080}}}}
